<section class="h-[80dvh] flex flex-col items-center px-4 py-20">
  <h1
    class="text-[2rem] text-primary-purple w-fit mx-auto font-black | lg:text-5xl"
  >
    ¡Casi terminamos!
  </h1>
  <p
    class="text-2xl max-w-[300px] mt-2 mb-4 text-center text-[#313131] | lg:max-w-[450px] lg:my-5 lg:text-2xl"
  >
    Para completar el registro de tu usuario haz clic en el enlace de abajo
  </p>
  @if (result() === null) {
    <nt-button
      [isPrimary]="true"
      label="Confirmar Correo"
      (click)="tryToConfirmEmail()"
      [isLoading]="isLoading()"
    />
  } @else {
    <h2 class="text-4xl font-black text-[#313131] mt-2">
      ¡Confirmación Exitosa!
    </h2>
  }
</section>
