<section class="flex">
  <aside
    class="hidden | lg:flex flex-col w-full max-w-52 border-r border-lavender-gray"
    [class.lg:hidden]="!isCurrentUserAdmin()"
  >
    <ul class="w-full h-[80dvh]">
      <li class="w-full">
        <a
          class="flex justify-center space-x-5 py-3 w-full items-center text-2xl text-primary-purple border border-lavender-gray"
          routerLink="/administracion/agenda"
          [routerLinkActive]="selectedStyles"
        >
          <nt-schedule-sidebar-icon
            [isDarkThemeOn]="!isScheduleRouteActive()"
          />
          <span class="text-base">Agenda</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/administracion/clientes"
          [routerLinkActive]="selectedStyles"
          class="flex justify-center space-x-5 py-3 w-full items-center text-2xl text-primary-purple border border-lavender-gray"
        >
          <nt-user-administration-icon
            [isDarkThemeOn]="isScheduleRouteActive()"
          />
          <span class="text-base">Clientes</span>
        </a>
      </li>
    </ul>
    <button
      (click)="saveChanges()"
      class="bg-white border border-primary-purple transition-opacity duration-500 py-3 px-6 rounded-full mb-4 mx-auto"
      [ngClass]="
        unsaveChanges() ? 'opacity-100 | lg:hover:opacity-80' : 'opacity-10'
      "
    >
      <img src="assets/icons/save-icon.svg" />
    </button>
  </aside>
  <div class="w-full">
    <router-outlet></router-outlet>
  </div>
</section>
