<section
  class="w-full mx-auto max-w-80 text-center | sm: sm:overflow-hidden sm:max-w-[900px] sm:flex sm:flex-col sm:items-center sm:justify-center sm:rounded-2xl sm:outline sm:outline-1 sm:outline-lavender-gray"
>
  <h3 class="text-primary-purple text-lg tracking-wide | sm:hidden">
    Seleccione una fecha
  </h3>
  <div
    class="flex py-4 items-center justify-center border-b | sm:w-full sm:py-5 sm:bg-primary-purple"
  >
    <button
      (click)="updateMonth(-1)"
      class="text-primary-purple font-medium text-3xl"
    >
      <nt-change-month-button class="rotate-180" />
    </button>
    <h2
      class="text-2xl font-black text-primary-purple tracking-wider w-52 | sm:w-60 sm:text-white sm:font-medium sm:text-3xl"
    >
      {{ getMonthName() }}
    </h2>
    <button
      (click)="updateMonth(+1)"
      class="text-primary-purple font-medium text-3xl"
    >
      <nt-change-month-button />
    </button>
  </div>
  <ul class="grid grid-cols-7 pt-4 pb-5 w-full | sm:hidden">
    @for (weekDay of singleLetterWeekDay; track $index) {
      <li class="text-[#838383] text-xl text-center opacity-80">
        {{ weekDay }}
      </li>
    }
  </ul>
  <ul
    class="hidden bg-lavender-white grid-cols-7 py-1 w-full | sm:grid sm:border-b sm:border-lavender-gray"
  >
    @for (weekDay of threeLetterWeekDay; track $index) {
      <li
        class="text-primary-purple font-medium tracking-wider text-xl text-center opacity-80"
      >
        {{ weekDay }}
      </li>
    }
  </ul>
  <ul
    class="grid grid-cols-7 border-b border-lavender-gray w-full sm:border-none"
  >
    @for (day of daysOfTheMonth(); track $index) {
      <li
        class="w-full text-primary-purple pr-2 pb-1 h-[70px] | sm:border-lavender-gray sm:flex sm:items-end sm:justify-end sm:text-right lg:hover:cursor-pointer"
        (click)="day.isDisabled ? null : newDaySelected(day.numberDay)"
        [ngClass]="getBoxDayClass($index, day, daysOfTheMonth().length)"
      >
        <span [ngClass]="day.isDisabled ? 'opacity-30' : 'opacity-100'">{{
          day.numberDay
        }}</span>
      </li>
    }
  </ul>
</section>
