<div
  class="text-center px-6 space-y-4 | lg:space-y-3 lg:px-0 lg:block"
  [ngClass]="
    appointmentsAtCurrentDate().length > 0 ||
    onEditAppointment() ||
    isNewAppointment()
      ? 'mt-10'
      : 'mt-0 | lg:mt-36'
  "
>
  @if (
    appointmentsAtCurrentDate.length === 0 &&
    !onEditAppointment() &&
    !isNewAppointment()
  ) {
    @if (appointmentsAtCurrentDate().length > 0) {
      <h3
        class="text-primary-purple font-medium my-4 lg:my-2"
        [ngClass]="
          appointmentsAtCurrentDate().length > 0 ? 'text-xl ' : 'text-2xl'
        "
      >
        Lista de Reservas
      </h3>
    } @else {
      <img
        src="assets/icons/free-dates-icon.svg"
        class="hidden w-full max-w-60 mx-auto | lg:block"
      />
    }
  }
  @if (!onEditAppointment() && !isNewAppointment()) {
    @for (appointment of appointmentsAtCurrentDate(); track $index) {
      <div
        class="w-full max-w-96 mx-auto | lg:hover:cursor-pointer"
        (click)="selectedAppointmentId.set(appointment.id)"
      >
        <nt-appointment-info-box
          [appointment]="appointment"
          [isBoxSelected]="selectedAppointmentId() === appointment.id"
        />
      </div>
    }
  } @else {
    <div class="w-full max-w-96 mx-auto">
      <nt-appointment-info-box
        [longDate]="getLongSelectedDate()"
        [time]="getSelectedDateTime()"
        [appointment]="onEditAppointment() ?? null"
        [isBoxSelected]="true"
        [isOnline]="isNewAppointmentOnline()"
      />
    </div>
  }
</div>
<!-- Hour selection -->
@if (onEditAppointment() || isNewAppointment()) {
  <div class="space-y-3 mt-10 flex flex-col items-center">
    <h3 class="text-lg text-primary-purple tracking-wide">
      Seleccione una hora
    </h3>
    <div class="space-x-8">
      <button
        (click)="updateHourBy(-1)"
        class="text-3xl text-charcoal font-light"
      >
        -
      </button>
      <span
        class="py-2 px-6 text-lg text-primary-purple border border-charcoal rounded-md"
        >{{ getSelectedDateTime() }}</span
      >
      <button
        (click)="updateHourBy(+1)"
        class="text-3xl text-charcoal font-light"
      >
        +
      </button>
    </div>
  </div>
  <!-- mode selection -->
  <div class="space-y-4 mt-8 flex flex-col items-center">
    <h2 class="text-lg text-primary-purple tracking-wide">
      Seleccione modalidad
    </h2>
    <div class="flex space-x-6">
      <button
        (click)="setAppointmentIsOnline(false)"
        class="flex items-center justify-center space-x-2"
      >
        <span class="border border-primary-purple rounded-full p-1 flex">
          <span
            [ngClass]="
              isNewAppointmentOnline()
                ? 'p-2.5 bg-white rounded-full'
                : 'p-2.5 bg-primary-purple rounded-full'
            "
          ></span>
        </span>
        <p class="text-charcoal">Presencial</p>
      </button>
      <button
        (click)="setAppointmentIsOnline(true)"
        class="flex items-center justify-center space-x-2"
      >
        <span class="border border-primary-purple rounded-full p-1 flex">
          <span
            [ngClass]="
              isNewAppointmentOnline()
                ? 'p-2.5 bg-primary-purple rounded-full'
                : 'p-2.5 bg-white rounded-full'
            "
          ></span>
        </span>
        <p class="text-charcoal">Teleconsulta</p>
      </button>
    </div>
  </div>
}

<!-- buttons -->
<div class="flex space-x-6 items-center justify-center mt-8 mb-10">
  <nt-button
    [isPrimary]="true"
    [label]="getMainButtonLabel()"
    (click)="getMainButtonOnClickHandler()"
    [isLoading]="responseState().isLoading"
    [isDisabled]="shouldDisable()"
  />
  @if (
    appointmentsAtCurrentDate.length > 0 ||
    onEditAppointment() ||
    isNewAppointment() ||
    selectedAppointmentId()
  ) {
    <button class="text-charcoal" (click)="reset()">Cancelar</button>
  }
</div>
