<div class="text-center px-6 | lg:px-0 lg:block lg:mt-20">
  <h3 class="text-primary-purple mt-4 text-2xl | lg:m-0">Lista de Reservas</h3>
  <div
    class="mt-4 | lg:min-h-72"
    [ngClass]="appointmentArray().length ? 'space-y-4' : ''"
  >
    @for (appointment of appointmentArray(); track $index) {
      <div
        class="w-full max-w-96 mx-auto rounded-lg outline outline-1 outline-soft-charcoal py-4 px-6 flex items-center | lg:hover:cursor-pointer"
        [ngClass]="
          isBeingSelected(appointment.id)
            ? 'bg-primary-purple text-white fill-white'
            : 'bg-white text-soft-charcoal fill-soft-charcoal'
        "
        (click)="selectedBox.set(appointment.id)"
      >
        <nt-appointment-info-box
          class="flex justify-between w-full"
          [id]="appointment.id"
        />
      </div>
    } @empty {
      <div class="min-h-28 flex justify-center items-center">
        <img
          src="assets/icons/free-dates-icon.svg"
          height="120"
          width="120"
          class="block my-10"
        />
      </div>
    }
  </div>
</div>
<!-- Hour selection -->
@if (isCreatingOrModifiying(appointmentArray())) {
  <div class="space-y-3 mt-10 flex flex-col items-center">
    <h3 class="text-lg text-primary-purple tracking-wide">
      Seleccione una hora
    </h3>
    <div class="space-x-8">
      <button
        (click)="updateHourBy(-1)"
        class="text-3xl text-charcoal font-light"
      >
        -
      </button>
      <span
        class="py-2 px-6 text-lg text-primary-purple border border-charcoal rounded-md"
        >{{ selectedDate() }}</span
      >
      <button
        (click)="updateHourBy(+1)"
        class="text-3xl text-charcoal font-light"
      >
        +
      </button>
    </div>
  </div>
  <!-- mode selection -->
  <div class="space-y-4 mt-8 flex flex-col items-center">
    <h2 class="text-lg text-primary-purple tracking-wide">
      Seleccione modalidad
    </h2>
    <div class="flex space-x-6">
      <button
        (click)="setAppointmentIsOnline(false)"
        class="flex items-center justify-center space-x-2"
      >
        <span class="border border-primary-purple rounded-full p-1 flex">
          <span
            [ngClass]="
              isOnline()
                ? 'p-2.5 bg-white rounded-full'
                : 'p-2.5 bg-primary-purple rounded-full'
            "
          ></span>
        </span>
        <p class="text-charcoal">Presencial</p>
      </button>
      <button
        (click)="setAppointmentIsOnline(true)"
        class="flex items-center justify-center space-x-2"
      >
        <span class="border border-primary-purple rounded-full p-1 flex">
          <span
            [ngClass]="
              isOnline()
                ? 'p-2.5 bg-primary-purple rounded-full'
                : 'p-2.5 bg-white rounded-full'
            "
          ></span>
        </span>
        <p class="text-charcoal">Teleconsulta</p>
      </button>
    </div>
  </div>
}

<!-- buttons -->
<div class="flex space-x-6 items-center justify-center mt-8 mb-10 | lg:my-5">
  <nt-button
    [isPrimary]="true"
    [label]="getMainButtonLabel(appointmentArray(), selectedBox())"
    (click)="onClickHandler(appointmentArray(), selectedBox())"
    [isLoading]="responseState().isLoading"
    [isDisabled]="
      isUserNotAllowToModify(
        selectedBox(),
        appointmentArray(),
        currentUserInfo()
      )
    "
  />
  @if (isCreatingOrModifiying(appointmentArray()) || selectedBox()) {
    <button class="text-charcoal" (click)="cancelAction()">Cancelar</button>
  }
</div>
