<div class="flex flex-col text-left w-full">
  <label
    class="font-medium text-primary-purple mb-2 ml-4"
    for="controlName()"
    >{{ label() }}</label
  >
  <input
    class="px-4 py-2 border border-lavender-purple rounded-lg focus:border-primary-purple"
    for="formControlname()"
    type="type()"
    placeholder="Ejem: Juan Villegas"
    [formControl]="control()"
    [class.border-red]="!isInputValid()"
  />
  @if (!isInputValid()) {
    <span class="text-red ml-2"> {{ validationErrorOutput() }}</span>
  }
</div>
