<section
  id="whyUs"
  class="flex flex-col items-center py-10 space-y-6 | lg:py-20"
>
  <nt-subtitle title="¡Conmigo Tendras!" />
  <div
    class="flex flex-col items-center space-y-8 py-10 | md:grid md:grid-cols-2 md:space-y-0 md:gap-10 | xl:flex xl:gap-6 xl:flex-row"
  >
    <nt-why-us-box
      benefit="Diagnostico"
      imagePath="assets/icons/doctor-tool-icon.svg"
      description="Me permitirá evaluar tu salud actual y darte a conocer los resultados a través de diversos indicadores"
    />
    <nt-why-us-box
      benefit="Antropometria"
      imagePath="assets/icons/doctor-tool-icon.svg"
      description="Utilizo medidas corporales como peso, altura y circunferencias para obtener información precisa sobre tu composición corporal"
    />
    <nt-why-us-box
      benefit="Plan Dietetico"
      imagePath="assets/icons/doctor-tool-icon.svg"
      description="Diseño planes dietéticos personalizados para que te sientas bien en todos los aspectos de tu vida"
    />
    <nt-why-us-box
      benefit="Seguimiento"
      imagePath="assets/icons/doctor-tool-icon.svg"
      description="Estaré aquí para resolver tus dudas, ajustar tu plan y evaluar cómo te sientes, asegurando que avances de manera saludable."
    />
  </div>
</section>
