<section
  class="flex flex-col text-primary-purple px-mobile-padding items-center h-dvh py-8 | lg:px-0 lg:h-[800px] lg:items-start lg:flex-row lg:py-0"
>
  <div
    class="hidden | lg:flex flex-col space-y-8 items-center h-full w-[75%] mt-52"
  >
    <nt-logo class="lg:text-6xl" />
    <div class="flex space-x-8">
      <nt-decorative-icon type="fish" color="#D6D6D6" />
      <nt-decorative-icon type="chicken" color="#D6D6D6" />
      <nt-decorative-icon type="banana" color="#D6D6D6" />
      <nt-decorative-icon type="apple" color="#D6D6D6" />
      <nt-decorative-icon type="brocoli" color="#D6D6D6" />
      <nt-decorative-icon type="banana" color="#D6D6D6" />
      <nt-decorative-icon type="fish" color="#D6D6D6" />
    </div>
    <p>{{ form.get("password")!.errors }}</p>
  </div>
  <form
    class="flex flex-col w-full max-w-80 | lg:w-[25%] lg:max-w-none lg:px-4 lg:items-center lg:py-10 lg:h-full lg:border-l lg:border-l-lavender-gray"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <nt-custom-input
      label="Correo Electronico"
      type="text"
      id="email"
      class="w-full max-w-72"
      [control]="getFormControl('email')"
      [validationErrorObject]="validationErrorObject.email"
      placeholder="Ejem: pia@ulloa.com"
    />
    <nt-custom-input
      label="Contraseña"
      type="password"
      id="password"
      class="w-full max-w-72 mt-3"
      [control]="getFormControl('password')"
      [validationErrorObject]="validationErrorObject.password"
      placeholder="Escribe tu contraseña aca"
    />
    <a class="w-full max-w-72" href="/">¿Olvidaste tu contraseña?</a>
    <!-- the width and height is fixed to to avoid having layout shift while calling the backend -->
    <nt-button
      [isPrimary]="true"
      label="Iniciar Sesion"
      class="w-[193px] h-[55px] mx-auto mt-2 text-lg"
      type="submit"
      [isLoading]="httpResponseIsLoading()"
      [isDisabled]="!isFormValid() || !isFormEdited()"
    />
  </form>
</section>
