<div
  (dblclick)="toggleExpandableBox()"
  class="rounded-xl transition-all flex duration-300 ease-in-out cursor-pointer text-white border w-[300px] | lg:block lg:w-[500px]"
  [ngClass]="getStyles()"
>
  @if (this.isBoxOpen()) {
    <div class="flex py-3 items-start justify-between">
      <div class="flex flex-col">
        <span class="font-bold text-xl tracking-wide">{{
          user()!.fullName
        }}</span>
        <span>{{ user()!.email }}</span>
      </div>
      <button
        [ngClass]="user()!.hasPaid ? 'bg-[#A499BA]' : 'bg-[#CE8B95]'"
        class="hidden p-4 rounded-full outline-1 outline-white | lg:block lg:hover:outline"
        (click)="startEditing()"
      >
        <img src="assets/icons/edit-icon.svg" />
      </button>
    </div>
    <div
      class="flex flex-col space-y-2 | lg:flex-row lg:space-x-6 lg:space-y-0 lg:items-start"
    >
      <ul class="flex flex-col justify-center items-start ml-4 space-y-2">
        <li class="flex flex-row space-x-4 items-center">
          <img src="assets/icons/phone-icon-fill.svg" width="20" height="20" />
          <span>{{ user()!.phoneNumber }}</span>
        </li>
        <li class="flex flex-row space-x-4 items-start">
          <img src="assets/icons/id-icon.svg" width="20" height="20" />
          <span>{{ user()!.rut }}</span>
        </li>
        <li class="flex flex-row space-x-4 items-center">
          <img src="assets/icons/heart-icon.svg" width="20" height="20" />
          <span>{{ getUserAge() }} años</span>
        </li>
      </ul>
      <ul class="flex flex-col items-start ml-4 space-y-2 max-w-[260px]">
        <li class="flex flex-row space-x-4 items-end">
          <img src="assets/icons/pill-icon.svg" width="20" height="20" />
          <span>{{ user()!.previousDiagnostic || "Ninguno" }}</span>
        </li>
        <li class="flex flex-row space-x-4 items-end">
          <img src="assets/icons/dollar-icon.svg" width="20" height="20" />
          <span>{{ user()!.hasPaid ? "Pago al dia" : "Pago con demora" }}</span>
        </li>
        <li class="flex flex-row space-x-4 items-center">
          <img src="assets/icons/award-icon.svg" width="20" height="20" />
          <span>{{ user()!.goal }}</span>
        </li>
      </ul>
    </div>
    <nt-button
      label="Modificar"
      [isPrimary]="false"
      [rounded]="false"
      class="w-full mt-2 | lg:hidden"
      (click)="startEditing()"
    />
  } @else {
    <ul class="flex w-full items-center justify-between">
      <li class="flex flex-col justify-center">
        <span class="text-base font-bold tracking-wide | lg:text-lg"
          >{{ user()!.fullName }}
        </span>
        <div class="flex flex-row space-x-3 items-center opacity-85">
          <img src="assets/icons/dollar-icon.svg" width="20" height="20" />
          <span class="hidden | lg:block">{{
            user()!.hasPaid ? "Pago al dia" : "Pago con demora"
          }}</span>
          <span class="lg:hidden">{{ user()!.hasPaid ? "Ok" : "Demora" }}</span>
        </div>
      </li>
      <li>
        <nt-payment-switcher [userId]="user().id" />
      </li>
    </ul>
  }
</div>
