<!-- Navbar -->
<nav
  class="flex flex-row font-serif relative px-mobile-padding py-4 items-center justify-between border-b border-lavender-gray w-full z-50 | lg:py-5 lg:px-desktop-padding lg:justify-between"
>
  <a
    class="flex text-2xl text-charcoal tracking-wide justify-end font-bold"
    routerLink="/inicio"
  >
    <nt-logo />
  </a>
  <ul
    [class.hidden]="!isMenuOpen"
    class="absolute w-72 bg-white font-serif text-lighter-charcoal text-xl font-normal flex flex-col space-y-12 py-12 right-[5vw] top-full border border-solid border-lavender-purple rounded-xl items-center | lg:flex lg:flex-row lg:px-0 lg:space-y-0 lg:py-0 lg:static lg:border-none lg:text-base lg:justify-between lg:w-9/12 lg:items-center"
  >
    <li>
      <ul
        class="flex flex-col space-y-8 items-center | lg:space-y-0 lg:flex lg:flex-row lg:space-x-10"
      >
        <li>
          <a
            class="lg:hover:text-charcoal lg:hover:cursor-pointer"
            routerLinkActive="text-charcoal"
            (click)="scrollTo('/', '')"
            ariaCurrentWhenActive="page"
            >Inicio</a
          >
        </li>
        <li>
          <a
            class="lg:hover:text-charcoal lg:hover:cursor-pointer"
            (click)="scrollTo('/', 'whyUs')"
            ariaCurrentWhenActive="page"
            >Beneficios</a
          >
        </li>
        <li>
          <a
            class="lg:hover:text-charcoal lg:hover:cursor-pointer"
            (click)="scrollTo('/', 'prices')"
            ariaCurrentWhenActive="page"
            >Planes</a
          >
        </li>
        <li>
          <a
            class="lg:hover:text-charcoal lg:hover:cursor-pointer"
            (click)="scrollTo('/', 'about')"
            ariaCurrentWhenActive="page"
            >Sobre Mi</a
          >
        </li>
        @if (currentUserRole() === ADMIN_ROLE) {
          <li>
            <a
              class="lg:hidden lg:hover:text-charcoal lg:hover:cursor-pointer"
              routerLink="/administracion/clientes"
              routerLinkActive="text-charcoal"
              (click)="toggleMenu()"
              ariaCurrentWhenActive="page"
              >Clientes</a
            >
          </li>
        }
      </ul>
    </li>
    <li>
      <ul
        class="flex space-y-8 flex-col items-center | lg:py-0 lg:pt-0 lg:px-10 lg:space-y-0 lg:space-x-10 lg:text-nowrap lg:items-center lg:flex lg:flex-row"
      >
        @switch (currentUserRole()) {
          @case (ADMIN_ROLE) {
            <li>
              <button class="lg:hover:text-charcoal" (click)="logout()">
                Cerrar Sesion
              </button>
            </li>
            <li>
              <nt-button
                [isPrimary]="true"
                label="Administracion"
                href="/administracion/agenda"
              />
            </li>
          }
          @case (CLIENT_ROLE) {
            <li>
              <button
                class="text-charcoa lg:hover:text-charcoal"
                (click)="logout()"
              >
                Cerrar Sesion
              </button>
            </li>
            <li>
              <nt-button
                [isPrimary]="true"
                label="Agendar"
                href="/administracion/agenda"
                (click)="toggleMenu()"
              />
            </li>
          }
          @case (NOT_AUTHENTICATED) {
            <li>
              <a
                class="lg:hover:text-charcoal"
                routerLink="/login"
                (click)="toggleMenu()"
                >Iniciar Sesion</a
              >
            </li>
            <li>
              <nt-button
                [isPrimary]="true"
                (click)="toggleMenu()"
                label="Subscribirse"
                href="/subscripcion"
              />
            </li>
          }
        }
      </ul>
    </li>
  </ul>
  <button class="block lg:hidden" (click)="toggleMenu()">
    <img
      src="assets/icons/hamburguer-menu.svg"
      width="42"
      alt="hamburguer menu"
    />
  </button>
</nav>
<!-- router view -->
<router-outlet />
<!-- footer -->
<footer
  class="bg-charcoal py-20 text-white flex flex-col items-center text-center | lg:text-left lg:items-start lg:justify-center lg:px-desktop-padding lg:space-x-44 lg:flex-row"
>
  <div
    class="flex flex-col space-y-10 | lg:space-y-0 lg:flex-row lg:space-x-24 lg:justify-start lg:items-start"
  >
    <ul class="flex space-y-4 flex-col text-center">
      <li>
        <h3 class="text-3xl font-bold">NutriPia</h3>
      </li>
      <li>
        <span>© Copyright 2025</span>
      </li>
    </ul>
    <ul
      class="flex flex-col space-y-8 items-center text-xl | lg:items-start lg:space-y-4"
    >
      <li>
        <a routerLink="/inicio">Inicio</a>
      </li>
      <li>
        <a routerLink="/beneficios">Beneficio</a>
      </li>
      <li>
        <a routerLink="/planes">Planes</a>
      </li>
      <li>
        <a routerLink="/agenda">Agendar</a>
      </li>
    </ul>
  </div>
  <ul
    class="flex space-x-10 mt-16 text-lg | lg:mt-0 lg:justify-start lg:items-start lg:flex-col lg:space-x-0 lg:space-y-4"
  >
    <li>
      <a class="flex justify-center space-x-6" href="tel:+56989323392">
        <img
          class="w-10 | lg:w-6"
          src="assets/icons/whatsapp-icon.svg"
          alt=""
        />
        <span class="hidden | lg:block">+ 56 9 8932 3392</span></a
      >
    </li>
    <li>
      <a
        class="flex justify-center space-x-6"
        href="https://www.instagram.com/_nutri_pia/"
        target="_blank"
      >
        <img
          class="w-10 | lg:w-6"
          src="assets/icons/instagram-icon.svg"
          alt=""
        />
        <span class="hidden | lg:block">_nutri_pia</span></a
      >
    </li>
    <li class="flex justify-center">
      <a
        class="flex justify-center items-center space-x-6"
        href="mailto:pia.nutricionista@gmail.com"
      >
        <img class="w-10 | lg:w-6" src="assets/icons/mail-icon.svg" alt="" />
        <span class="hidden | lg:block"
          >pia.nutricionista&#64;gmail.com</span
        ></a
      >
    </li>
  </ul>
</footer>
