<nav class="flex flex-row relative justify-between px-5 py-3 items-center">
  <a class="flex flex-row w-28" routerLink="/inicio" ariaCurrentWhenActive="page">
    <img src="assets/logo.svg" class="w-full h-full" />
  </a>
  <ul class="absolute right-6 top-full">
    <li>
      <a routerLink="/inicio" routerLinkActive="active" ariaCurrentWhenActive="page">Inicio</a>
    </li>
    <li>
      <a routerLink="/agenda" routerLinkActive="active" ariaCurrentWhenActive="page">Agenda</a>
    </li>
  </ul>
  <img src="assets/hamburguer-menu.svg" width="42" alt="hamburguer menu">
</nav>
<router-outlet />
