<div
  class="flex border flex-col py-6 items-center text-center space-y-6 w-60 rounded-xl"
  [ngClass]="
    pricingPlanId() === 1
      ? 'bg-primary-purple border-charcoal text-white'
      : 'bg-white text-charcoal border-primary-purple'
  "
>
  <div>
    <span class="text-2xl font-medium tracking-wider opacity-85">{{
      currentPricingPlan.description
    }}</span>
    <h3
      [ngClass]="
        pricingPlanId() === 1
          ? priceBaseStyleHeader
          : priceBaseStyleHeader + ' text-primary-purple'
      "
    >
      {{
        currentPricingPlan.price * currentPricingPlan.months
          | currency: "CLP" : "symbol-narrow"
      }}
    </h3>
    <span class="opacity-85 tracking-wider">{{
      currentPricingPlan.months > 1
        ? (currentPricingPlan.price | currency: "CLP" : "symbol-narrow") +
          " cada mes"
        : "unica consulta"
    }}</span>
  </div>

  <div class="flex flex-col space-y-2">
    <!-- Asesoria -->
    <div class="flex space-x-2">
      <img
        [src]="
          pricingPlanId() > 0
            ? 'assets/icons/check-icon.svg'
            : 'assets/icons/uncheck-icon.svg'
        "
        alt="icono de incluido o no incluido"
      />
      <span>Seguimiento</span>
    </div>
    <!-- Diagnostico -->
    <div class="flex space-x-2">
      <img
        src="assets/icons/check-icon.svg"
        alt="icono de incluido o no incluido"
      />
      <span>Diagnostico</span>
    </div>
    <!-- plan nutricional -->
    <div class="flex space-x-2">
      <img
        src="assets/icons/check-icon.svg"
        alt="icono de incluido o no incluido"
      />
      <span>Plan Nutricional</span>
    </div>
    <!-- Personalizacion  -->
    <div class="flex space-x-2">
      <img
        [src]="
          pricingPlanId() > 0
            ? 'assets/icons/check-icon.svg'
            : 'assets/icons/uncheck-icon.svg'
        "
        alt="icono de incluido o no incluido"
      />
      <span>Personalizacion</span>
    </div>
    <!-- Antopometria -->
    <div class="flex space-x-2">
      <img
        src="assets/icons/check-icon.svg"
        alt="icono de incluido o no incluido"
      />
      <span>Antopometria</span>
    </div>
    <!-- -->
  </div>
  <nt-button
    [isPrimary]="pricingPlanId() !== 1 ? true : false"
    [rounded]="false"
    class="w-48"
    label="Empieza ya"
    href="/"
  />
</div>
