<div
  class="flex flex-col items-center text-center space-y-4 w-60 rounded-xl"
  [ngClass]="
    pricingPlanId() === 1
      ? 'bg-primary-purple text-white'
      : 'bg-white text-charcoal'
  "
>
  <div>
    <span class="text-2xl font-semibold">{{
      currentPricingPlan.description
    }}</span>
    <h3 class="text-4xl font-bold">
      {{ currentPricingPlan.price * currentPricingPlan.months }}
    </h3>
    <span>{{
      currentPricingPlan.months > 1
        ? "$" + currentPricingPlan.price + " cada mes"
        : "unica consulta"
    }}</span>
  </div>

  <div></div>
</div>
