<article class="flex h-full">
  <div
    class="p-8 grid gap-6 auto-rows-min justify-center items-start"
    [ngClass]="isEditing() ? 'grid-cols-2' : 'grid-cols-3'"
  >
    @for (userId of userIdList(); track $index) {
      <nt-user-box [userId]="userId" class="h-fit" />
    }
  </div>
  @if (isEditing() !== null) {
    <form
      class="flex flex-col w-full max-w-80 | lg:w-small-container lg:max-w-none lg:p-8 lg:items-center lg:h-full lg:border-l lg:border-l-lavender-gray"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <nt-custom-input
        label="Nombre y Apellido"
        type="text"
        [control]="getFormControl('fullName')"
        id="fullName"
        class="w-full mt-3"
        [validationErrorObject]="validationErrorObject.fullName"
        placeholder="Ejem: Pia Ulloa"
      />
      <nt-custom-input
        label="Correo Electronico"
        type="text"
        [control]="getFormControl('email')"
        id="email"
        class="w-full mt-3"
        [validationErrorObject]="validationErrorObject.email"
        placeholder="Ejem: pia@Ulloa.com"
      />
      <nt-custom-input
        label="RUT"
        type="text"
        [control]="getFormControl('rut')"
        id="rut"
        class="w-full mt-3"
        [validationErrorObject]="validationErrorObject.rut"
        placeholder="Ejem: 26.245.083-k"
      />
      <nt-custom-input
        label="Año de Nacimiento"
        type="number"
        [control]="getFormControl('yearOfBirth')"
        id="yearOfBirth"
        class="w-full mt-3"
        [validationErrorObject]="validationErrorObject.yearOfBirth"
        placeholder="Ejem: 1995"
      />
      <nt-custom-input
        label="Telefono"
        type="text"
        [control]="getFormControl('phoneNumber')!"
        id="phoneNumber"
        class="w-full mt-3"
        [validationErrorObject]="validationErrorObject.phoneNumber"
        placeholder="Ejem: +56 9 3245 3254"
      />
      <nt-custom-input
        label="Diagnosticos Previos"
        type="text"
        [control]="getFormControl('previousDiagnostics')"
        id="previousDiagnostics"
        class="w-full mt-3"
        [validationErrorObject]="validationErrorObject.previousDiagnostics"
        placeholder="Ejem: Diabetes, Hipertension"
      />
      <nt-custom-input
        label="Metas"
        type="text"
        [control]="getFormControl('goals')"
        id="goals"
        class="w-full mt-3"
        [validationErrorObject]="validationErrorObject.goals"
        placeholder="Ejem: Perder 6kg de manera controlada"
      />
      <!-- the width and height is fixed to to avoid having layout shift while calling the backend -->
      <div class="flex space-x-8 justify-center items-center mt-8">
        <nt-button
          [isPrimary]="true"
          label="Actualizar"
          class="w-[160px] h-[50px] items-center"
          type="submit"
          [isLoading]="httpResponseIsLoading()"
          [isDisabled]="form.invalid || !form.dirty"
        />
        <button
          class="text-primary-purple font-medium lg:hover:cursor-pointer"
          (click)="stopEditing()"
        >
          Cancelar
        </button>
      </div>
    </form>
  }
</article>
