<div class="w-full mx-auto max-w-80 text-center">
  <span class="text-primary-purple text-lg">Seleccione una fecha</span>
  <div
    class="flex space-x-12 py-4 items-center justify-center border-b border-lavender-gray"
  >
    <button class="text-primary-purple font-medium text-3xl"></button>
    <h2 class="text-2xl font-black text-primary-purple">
      {{ getMonthName() }}
    </h2>
    <button
      (click)="renderNextMonth()"
      class="text-primary-purple font-medium text-3xl"
    ></button>
  </div>
  <ul class="lg:hidden grid grid-cols-7 pt-4 pb-5">
    @for (weekDay of singleLetterWeekDay; track $index) {
      <li class="text-[#838383] text-xl text-center opacity-80">
        {{ weekDay }}
      </li>
    }
  </ul>
  <ul class="lg:hidden grid grid-cols-7 border-b border-lavender-gray">
    @for (day of daysOfTheMonth(); track $index) {
      <li class="text-charcoal text-xl text-center opacity-80">
        <nt-calendar-button
          [day]="day.numberDay"
          [state]="day.state"
          (click)="selectADay($index)"
        />
      </li>
    }
  </ul>
</div>
