<section class="w-full mx-auto max-w-80 text-center">
  <span class="text-primary-purple text-lg">Seleccione una fecha</span>
  <div
    class="flex space-x-12 py-4 items-center justify-center border-b border-lavender-gray"
  >
    <button
      (click)="updateMonth(-1)"
      class="text-primary-purple font-medium text-3xl"
    >
      -
    </button>
    <h2 class="text-2xl font-black text-primary-purple">
      {{ getMonthName() }}
    </h2>
    <button
      (click)="updateMonth(+1)"
      class="text-primary-purple font-medium text-3xl"
    >
      +
    </button>
  </div>
  <ul class="lg:hidden grid grid-cols-7 pt-4 pb-5">
    @for (weekDay of singleLetterWeekDay; track $index) {
      <li class="text-[#838383] text-xl text-center opacity-80">
        {{ weekDay }}
      </li>
    }
  </ul>
  <ul class="lg:hidden grid grid-cols-7 border-b border-lavender-gray">
    @for (day of daysOfTheMonth(); track $index) {
      <li class="text-charcoal text-xl text-center opacity-80">
        <nt-calendar-button
          [day]="day.numberDay"
          [state]="day.state"
          (click)="selectADay(day.numberDay)"
        />
      </li>
    }
  </ul>
  <div class="space-y-3 mt-6 flex flex-col items-center">
    <h2 class="text-lg text-primary-purple">Seleccione una hora</h2>
    <div class="space-x-8">
      <button class="text-3xl text-charcoal font-light">+</button>
      <span
        class="py-2 px-6 text-lg text-primary-purple border border-charcoal rounded-md"
        >{{
          selectedDate().toLocaleTimeString("en-US", {
            hour: "2-digit",
            minute: "2-digit",
          })
        }}</span
      >
      <button class="text-3xl text-charcoal font-light">-</button>
    </div>
  </div>
  <div class="space-y-4 mt-6 flex flex-col items-center">
    <h2 class="text-lg text-primary-purple">Seleccione modalidad</h2>
    <div class="flex space-x-6">
      <button
        (click)="setAppointmentIsOnline(false)"
        class="flex items-center justify-center space-x-2"
      >
        <span class="border border-primary-purple rounded-full p-1 flex">
          <span
            [ngClass]="isAppointmentOnline() ? notSelectedClass : selectedClass"
          ></span>
        </span>
        <p class="text-charcoal">Presencial</p>
      </button>
      <button
        (click)="setAppointmentIsOnline(true)"
        class="flex items-center justify-center space-x-2"
      >
        <span class="border border-primary-purple rounded-full p-1 flex">
          <span
            [ngClass]="isAppointmentOnline() ? selectedClass : notSelectedClass"
          ></span>
        </span>
        <p class="text-charcoal">Teleconsulta</p>
      </button>
    </div>
  </div>
  <div class="flex space-x-6 items-center justify-center mt-6">
    <nt-button
      [isPrimary]="true"
      label="Reservar"
      (click)="saveAppointment()"
    />
    <button class="text-charcoal">Cancelar</button>
  </div>
</section>
