<section
  id="hero"
  class="flex px-mobile-padding pt-4 pb-14 justify-center border-lavender-gray border-b flex-col items-center | lg:items-center lg:justify-start lg:flex-row lg:px-desktop-padding | 2xl:py-0"
>
  <!-- hero description section -->
  <div
    class="flex flex-col order-2 items-center mt-4 | lg:order-1 lg:text-left lg:items-start lg:space-y-4 lg:max-w-xl"
  >
    <h1
      class="font-serif text-4xl text-center max-w-[20ch] text-charcoal font-light | lg:text-left | xl:text-6xl"
    >
      Tu guia hacia una mejor <b class="font-semibold">nutricion</b> y
      <b class="font-semibold">bienestar</b>
    </h1>
    <p
      class="font-serif text-charcoal text-center font-light max-w-[40ch] mt-2 mb-4 | lg:text-left lg:tracking-wide | xl:text-[18px]"
    >
      Optimiza tu bienestar con mi guía nutricional. Regístrate y agenda tu
      consulta para iniciar tu camino hacia una vida más saludable.
    </p>
    <nt-button
      [isPrimary]="true"
      label="Empieza ya"
      href="/administracion/agenda"
    />
  </div>
  <!-- hero img section -->
  <div
    class="flex order-1 bg-m mt-6 | lg:justify-center lg:flex-1 lg:order-2 lg:mt-10"
  >
    <img
      src="assets/images/mobile-hero-image.png"
      class="2xl:hidden block w-full max-w-md"
      alt="hero image"
    />
    <img
      src="assets/images/desktop-hero-image.webp"
      class="hidden w-full max-w-3xl | 2xl:block"
      alt="hero image"
    />
  </div>
</section>
