<section
  id="about"
  class="flex flex-col justify-center items-center text-center border-b pt-6 px-4 border-b-lavender-gray | lg:text-left lg:pt-4 lg:flex-row"
>
  <div class="flex flex-col items-start | lg:order-2 lg:ml-24">
    <nt-subtitle
      title="Sobre mi"
      class="mx-auto my-3 | lg:mx-0 lg:my-0 lg:mb-2"
    />
    <div class="text-xl space-y-4 text-charcoal">
      <p
        class="max-w-[300px] mx-auto | sm:max-w-[500px] | lg:mx-0 lg:max-w-[550px]"
      >
        Soy <b>Pía Ulloa</b>, nutricionista graduada de la
        <b>Universidad INACAP</b>. Creo firmemente en el bienestar integral:
        físico, emocional y mental. Con una <b>certificación por ISAK</b>, me he
        especializado en ayudar a mis pacientes a alcanzar un equilibrio
        saludable en sus vidas.
      </p>
      <p
        class="max-w-[300px] mx-auto | sm:max-w-[500px] | lg:mx-0 lg:max-w-[550px]"
      >
        Mi misión es acompañarte con compromiso, cercanía y empatía para que te
        sientas bien en todos los aspectos de tu vida. Mi enfoque se basa en el
        <b>autoconocimiento</b> y la <b>nutrición personalizada</b>, respaldados
        por mi experiencia en nutrición y antropometría.
      </p>
    </div>
  </div>
  <div class="items-center">
    <img
      src="assets/images/desktop-about-image.png"
      class="w-[20rem] mt-4 | lg:mt-0 lg:w-full lg:max-w-[400px]"
    />
  </div>
</section>
