<button [ngClass]="user().hasPaid ? userPaidStyles : userNotPaidStyles">
  <div class="flex flex-col">
    <span class="font-bold text-xl tracking-wide">{{ user().fullName }}</span>
    <span>{{ user().email }}</span>
  </div>
  <ul class="flex flex-col justify-center">
    <li class="flex flex-row space-x-4">
      <img src="assets/icons/phone-icon.svg" width="20" height="20" />
      <span>{{ user().phoneNumber }}</span>
    </li>
    <li class="flex flex-row space-x-4">
      <img src="assets/icons/phone-icon.svg" width="20" height="20" />
      <span>{{ user().rut }}</span>
    </li>
    <li class="flex flex-row space-x-4">
      {{ user().age }}
    </li>
    <li class="flex flex-row space-x-4">
      {{ user().previousDiagnostics }}
    </li>
    <li class="flex flex-row space-x-4">
      {{ user().hasPaid }}
    </li>
    <li class="flex flex-row space-x-4">
      {{ user().goals }}
    </li>
  </ul>
</button>
